// search-st-abaya
.search-st-abaya {
    position: absolute;
    top: 100%;
    right: 0;
    width: 49%;
    opacity: 0;
    transition: 0.4s;
    z-index: -1;
    @include sm  {
        top: 92%;
        width: 100%;
    }
    @include dir {
        left: 0;
        right: unset;
    }
    &.active {
        opacity: 1;
        z-index: 11;
        @include sm  {
            top: 92%;
        }
    }
    .om-in {
        width: 100%;
        height: 50px;
        padding: 0 22px;
        background-color: #ffffff;
        color: #000;
        outline: none;
        border-radius: 25px;
        border: 1px solid #eaeaea;
        &::placeholder {
            color: #9f9b8b;
            text-transform: capitalize;
        }
    }
    .om-in-submit {
        position: absolute;
        top: 50%;
        right: 14px;
        background-color: transparent;
        border: none;
        font-size: 25px;
        color: #000;
        transform: translateY(-50%);
        height: 32px;
        @include dir {
            right: unset;
            left: 14px;
        }
    }
}


// footer news letter 
footer {
    .newsletter-form {
        width: 56%;
        position: relative;
        @include sm {
            width: 100%;
            margin-top: 20px;
        }
        .input-om {
            width: 100%;
            font-size: 15px;
            color: #000;
            height: 55px;
            line-height: 55px;
            padding: 0 30px;
            outline: none;
            border: none;
            background-color: #fff;
            &:focus {
                + .om-submit {
                    color: #000;
                }
            }
            &::placeholder {
                font-size: 15px;
                color: #7f7f7f;
            }
        }
        .om-submit {
            // background-color: transparent;
            color: #9f9b8b;
            font-size: 30px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 24px;
            padding: 0;
            transition: 0.4s;
            height: 40px;
            &:hover {
                color: #000;
            }
            @include dir {
                left: 24px;
                right: unset;
                transform: translateY(-50%) rotateY(180deg);
            }
        }
    }
}