/********************* start fonts *************************/
@font-face {
  font-family: 'Tajawal-md';
  src: url("../fonts/Tajawal-Medium.eot");
  src: url("../fonts/Tajawal-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Medium.woff2") format("woff2"), url("../fonts/Tajawal-Medium.woff") format("woff"), url("../fonts/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal-light';
  src: url("../fonts/Tajawal-Light.eot");
  src: url("../fonts/Tajawal-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Light.woff2") format("woff2"), url("../fonts/Tajawal-Light.woff") format("woff"), url("../fonts/Tajawal-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal-black';
  src: url("../fonts/Tajawal-Black.eot");
  src: url("../fonts/Tajawal-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Black.woff2") format("woff2"), url("../fonts/Tajawal-Black.woff") format("woff"), url("../fonts/Tajawal-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal-exbol';
  src: url("../fonts/Tajawal-ExtraBold.eot");
  src: url("../fonts/Tajawal-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-ExtraBold.woff2") format("woff2"), url("../fonts/Tajawal-ExtraBold.woff") format("woff"), url("../fonts/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal-bold';
  src: url("../fonts/Tajawal-Bold.eot");
  src: url("../fonts/Tajawal-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Bold.woff2") format("woff2"), url("../fonts/Tajawal-Bold.woff") format("woff"), url("../fonts/Tajawal-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal-exlight';
  src: url("../fonts/Tajawal-ExtraLight.eot");
  src: url("../fonts/Tajawal-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-ExtraLight.woff2") format("woff2"), url("../fonts/Tajawal-ExtraLight.woff") format("woff"), url("../fonts/Tajawal-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Tajawal-reg';
  src: url("../fonts/Tajawal-Regular.eot");
  src: url("../fonts/Tajawal-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Tajawal-Regular.woff2") format("woff2"), url("../fonts/Tajawal-Regular.woff") format("woff"), url("../fonts/Tajawal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Bold';
  src: url("../fonts/CooperHewitt-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-BoldItalic';
  src: url("../fonts/CooperHewitt-BoldItalic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Book';
  src: url("../fonts/CooperHewitt-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-BookItalic';
  src: url("../fonts/CooperHewitt-BookItalic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Heavy';
  src: url("../fonts/CooperHewitt-Heavy.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-HeavyItalic';
  src: url("../fonts/CooperHewitt-HeavyItalic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Light';
  src: url("../fonts/CooperHewitt-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-LightItalic';
  src: url("../fonts/CooperHewitt-LightItalic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Medium';
  src: url("../fonts/CooperHewitt-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-MediumItalic';
  src: url("../fonts/CooperHewitt-MediumItalic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Semibold';
  src: url("../fonts/CooperHewitt-Semibold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-SemiboldItalic';
  src: url("../fonts/CooperHewitt-SemiboldItalic.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-Thin';
  src: url("../fonts/CooperHewitt-Thin.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt-ThinItalic';
  src: url("../fonts/CooperHewitt-ThinItalic.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff;
  font-size: 16px;
  color: #000;
  font-family: 'CooperHewitt-Book';
  line-height: 1.5;
}

html[dir=rtl] body {
  font-family: 'Tajawal-reg';
}

.link-om {
  color: #000;
  text-decoration: none;
}

.link-om:hover {
  color: #9f9b8b;
  text-decoration: none;
}

.butt-om {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.head-om {
  padding: 0;
  margin: 0;
}

.parg-om {
  padding: 0;
  margin: 0;
}

.ul-om {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.overlay-om {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 111;
  background-color: #000;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}

.overlay-om.active {
  opacity: 0.7;
  visibility: visible;
}

@media only screen and (min-width: 1500px) {
  .container {
    width: 1440px;
  }
}

/* start header */
header .nav-logo-warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0;
}

@media only screen and (max-width: 991px) {
  header .nav-logo-warp {
    position: relative;
    padding: 15px 0;
  }
}

header .logo {
  width: 119px;
}

@media only screen and (max-width: 991px) {
  header .logo {
    width: 100px;
  }
}

header .logo img {
  width: 100%;
  display: block;
}

header .nav-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 991px) {
  header .nav-cart {
    position: static;
  }
}

header .nav-cart .cart-om {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 58px;
}

html[dir=rtl] header .nav-cart .cart-om {
  margin-left: 0;
  margin-right: 58px;
}

header .nav-cart .cart-om li:not(:first-child) {
  margin-left: 30px;
}

@media only screen and (max-width: 991px) {
  header .nav-cart .cart-om li:not(:first-child) {
    margin-left: 20px;
  }
}

html[dir=rtl] header .nav-cart .cart-om li:not(:first-child) {
  margin-left: 0;
  margin-right: 30px;
}

@media only screen and (max-width: 991px) {
  html[dir=rtl] header .nav-cart .cart-om li:not(:first-child) {
    margin-left: 0;
    margin-right: 20px;
  }
}

header .nav-cart .cart-om .link-om {
  font-size: 30px;
  color: #9f9b8b;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  header .nav-cart .cart-om .link-om {
    font-size: 27px;
  }
}

header .nav-cart .cart-om .link-om:hover {
  color: #000;
}

header .nav-cart .cart-om .link-om .lnr {
  height: 30px;
  display: block;
}

header .nav-cart .cart-om .colse-act-om .lnr-magnifier::before {
  content: "\e870";
}

header .nav-cart .cart-om .men-butt {
  display: none;
}

@media only screen and (max-width: 991px) {
  header .nav-cart .cart-om .men-butt {
    display: block;
  }
  header .nav-cart .cart-om .men-butt .men-butt-om {
    text-decoration: none;
  }
}

.footer-content {
  padding-top: 80px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 991px) {
  .footer-content {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.footer-content .head-om {
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  .footer-content .head-om {
    margin-bottom: 10px;
  }
}

html[dir=rtl] .footer-content .head-om {
  font-size: 18px;
}

.footer-content .parg-om {
  font-size: 15px;
  color: #7f7f7f;
  line-height: 2;
  text-align: justify;
  font-family: 'CooperHewitt-Light';
  width: 92%;
}

html[dir=rtl] .footer-content .parg-om {
  font-family: 'Tajawal-light';
}

@media only screen and (max-width: 991px) {
  .footer-content .parg-om {
    width: 100%;
  }
}

.footer-content .foo-list .link-om {
  display: table;
  color: #7f7f7f;
  line-height: 2;
  margin-bottom: 1px;
  text-transform: capitalize;
  font-size: 15px;
  font-family: 'CooperHewitt-Light';
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

html[dir=rtl] .footer-content .foo-list .link-om {
  font-family: 'Tajawal-light';
}

.footer-content .foo-list .link-om:hover {
  color: #1c1c1b;
}

.footer-content .foot-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.footer-content .foot-social li {
  margin-right: 6px;
}

html[dir=rtl] .footer-content .foot-social li {
  margin-right: 0;
  margin-left: 6px;
}

.footer-content .foot-social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 43px;
  height: 43px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer-content .foot-social li a:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.footer-content .foot-social li a.face-om {
  background-color: #4e71a8;
}

.footer-content .foot-social li a.twitter-om {
  background-color: #1cb7eb;
}

.footer-content .foot-social li a.insta-om {
  background: #d6249f;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.footer-content .foot-social li a.snap-om {
  background-color: #f4c817;
}

.footer-content .foot-social li a.whats-om {
  background-color: #00b934;
}

.footer-content .app-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-content .app-list li {
  margin-right: 8px;
}

html[dir=rtl] .footer-content .app-list li {
  margin-right: 0;
  margin-left: 8px;
}

@media only screen and (max-width: 767px) {
  .footer-newsletter {
    background-color: #9f9b8b;
  }
}

.footer-newsletter .newsletter-content {
  padding: 35px 54px;
  background-color: #9f9b8b;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .footer-newsletter .newsletter-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .footer-newsletter .newsletter-content {
    padding: 30px 0;
    background-color: transparent;
  }
}

.footer-newsletter .newsletter-descrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .footer-newsletter .newsletter-descrip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer-newsletter .newsletter-descrip .news-lett-fig {
  font-size: 43.81px;
  margin-right: 17px;
}

@media only screen and (max-width: 991px) {
  .footer-newsletter .newsletter-descrip .news-lett-fig {
    margin: auto;
  }
}

html[dir=rtl] .footer-newsletter .newsletter-descrip .news-lett-fig {
  margin-left: 17px;
  margin-right: 0;
}

@media only screen and (max-width: 991px) {
  html[dir=rtl] .footer-newsletter .newsletter-descrip .news-lett-fig {
    margin: auto;
  }
}

.footer-newsletter .newsletter-descrip .head-om {
  font-size: 22px;
  font-family: 'CooperHewitt-Heavy';
  margin-bottom: 4px;
}

html[dir=rtl] .footer-newsletter .newsletter-descrip .head-om {
  font-family: 'Tajawal-black';
}

@media only screen and (max-width: 991px) {
  .footer-newsletter .newsletter-descrip .head-om {
    text-align: center;
  }
}

.footer-newsletter .newsletter-descrip .parg-om {
  font-size: 16px;
}

@media only screen and (max-width: 991px) {
  .footer-newsletter .newsletter-descrip .parg-om {
    text-align: center;
  }
}

footer .copyright {
  padding: 30px 0 40px 0;
}

@media only screen and (max-width: 991px) {
  footer .copyright {
    padding-bottom: 30px;
  }
}

footer .copyright .copyright-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  footer .copyright .copyright-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

footer .copyright .parg-om {
  color: #7f7f7f;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .copyright .parg-om .copy-abaya-araha {
  color: #1c1c1b;
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  footer .copyright .parg-om .tswk-design {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  footer .copyright .parg-om {
    text-align: center;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  footer .copyright .parg-om {
    display: block;
  }
}

footer .copyright .parg-om img {
  margin-right: 5px;
  margin-left: 5px;
}

@media only screen and (max-width: 991px) {
  .footer-content .foot-block {
    padding-bottom: 20px;
  }
  .footer-content .collapse-head {
    position: relative;
  }
  .footer-content .collapse-head::after {
    content: "\e874";
    font-family: Linearicons-Free;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #000;
  }
  html[dir=rtl] .footer-content .collapse-head::after {
    left: 0;
    right: unset;
  }
  .footer-content .collapse-head.arr-rotate::after {
    content: "\e873";
  }
  .footer-content .foot-social {
    margin-top: 20px;
    margin-bottom: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-content .foot-social li {
    margin: 0 3px;
  }
  .footer-content .foot-app .app-list {
    margin-top: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-content .foot-app .app-list li {
    margin: 0 5px;
  }
  .footer-content .social-app .head-om {
    text-align: center;
  }
  .foot-collapse {
    display: none;
  }
}

.search-st-abaya {
  position: absolute;
  top: 100%;
  right: 0;
  width: 49%;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}

@media only screen and (max-width: 991px) {
  .search-st-abaya {
    top: 92%;
    width: 100%;
  }
}

html[dir=rtl] .search-st-abaya {
  left: 0;
  right: unset;
}

.search-st-abaya.active {
  opacity: 1;
  z-index: 11;
}

@media only screen and (max-width: 991px) {
  .search-st-abaya.active {
    top: 92%;
  }
}

.search-st-abaya .om-in {
  width: 100%;
  height: 50px;
  padding: 0 22px;
  background-color: #ffffff;
  color: #000;
  outline: none;
  border-radius: 25px;
  border: 1px solid #eaeaea;
}

.search-st-abaya .om-in::-webkit-input-placeholder {
  color: #9f9b8b;
  text-transform: capitalize;
}

.search-st-abaya .om-in:-ms-input-placeholder {
  color: #9f9b8b;
  text-transform: capitalize;
}

.search-st-abaya .om-in::-ms-input-placeholder {
  color: #9f9b8b;
  text-transform: capitalize;
}

.search-st-abaya .om-in::placeholder {
  color: #9f9b8b;
  text-transform: capitalize;
}

.search-st-abaya .om-in-submit {
  position: absolute;
  top: 50%;
  right: 14px;
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: #000;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 32px;
}

html[dir=rtl] .search-st-abaya .om-in-submit {
  right: unset;
  left: 14px;
}

footer .newsletter-form {
  width: 56%;
  position: relative;
}

@media only screen and (max-width: 991px) {
  footer .newsletter-form {
    width: 100%;
    margin-top: 20px;
  }
}

footer .newsletter-form .input-om {
  width: 100%;
  font-size: 15px;
  color: #000;
  height: 55px;
  line-height: 55px;
  padding: 0 30px;
  outline: none;
  border: none;
  background-color: #fff;
}

footer .newsletter-form .input-om:focus + .om-submit {
  color: #000;
}

footer .newsletter-form .input-om::-webkit-input-placeholder {
  font-size: 15px;
  color: #7f7f7f;
}

footer .newsletter-form .input-om:-ms-input-placeholder {
  font-size: 15px;
  color: #7f7f7f;
}

footer .newsletter-form .input-om::-ms-input-placeholder {
  font-size: 15px;
  color: #7f7f7f;
}

footer .newsletter-form .input-om::placeholder {
  font-size: 15px;
  color: #7f7f7f;
}

footer .newsletter-form .om-submit {
  color: #9f9b8b;
  font-size: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 24px;
  padding: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  height: 40px;
}

footer .newsletter-form .om-submit:hover {
  color: #000;
}

html[dir=rtl] footer .newsletter-form .om-submit {
  left: 24px;
  right: unset;
  -webkit-transform: translateY(-50%) rotateY(180deg);
  transform: translateY(-50%) rotateY(180deg);
}

/*loading*/
.loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffff;
  top: 0;
  left: 0;
  z-index: 8998989789798;
  margin: 0;
}

.loading-overlay .load {
  top: 50%;
  left: 50%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 100000000;
  opacity: 1;
  -webkit-animation: faded 1s infinite;
  animation: faded 1s infinite;
}

@-webkit-keyframes faded {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes faded {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/*lazyload*/
.loading-omd {
  background-color: #f7f7f7;
  background-image: url("../images/cover.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.loading-omd img {
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.loading-omd .fig-cap-om {
  opacity: 0;
}

.loaded-omd {
  background-color: #f7f7f7;
}

.loaded-omd img {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
}

.block-abaya-om .fig-cap-om {
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.lazy-head-om .fig-cap-om {
  opacity: 1;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

/*lazyload*/
.nav-om .nav-list-om {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.nav-om .nav-list-om > li:not(:last-child) {
  margin-right: 20px;
}

html[dir=rtl] .nav-om .nav-list-om > li:not(:last-child) {
  margin-left: 20px;
  margin-right: 0;
}

.nav-om .nav-list-om > li.lang {
  font-family: 'Tajawal-md';
}

.nav-om .nav-list-om > li > a {
  text-decoration: none;
  color: #000;
  padding: 20px 5px;
  line-height: 1;
  display: block;
  font-size: 16px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
}

.nav-om .nav-list-om > li:hover > a {
  color: #9f9b8b;
}

@media only screen and (max-width: 991px) {
  .nav-xs-om {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -280px;
    bottom: 0;
    width: 280px;
    z-index: 11111;
    padding: 15px;
    overflow-y: auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  html[dir=rtl] .nav-xs-om {
    right: -280px;
    left: unset;
  }
}

@media only screen and (max-width: 991px) {
  .nav-xs-om.active {
    left: 0;
  }
  html[dir=rtl] .nav-xs-om.active {
    right: 0;
  }
}

@media only screen and (max-width: 991px) {
  .nav-xs-om .nav-list-om {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nav-xs-om .nav-list-om > li {
    width: 100%;
  }
  .nav-xs-om .nav-list-om > li:not(:last-child) {
    margin-left: 0;
  }
  html[dir=rtl] .nav-xs-om .nav-list-om > li:not(:last-child) {
    margin-right: 0;
    margin-left: 0;
  }
  .nav-xs-om .nav-list-om > li > a {
    text-decoration: none;
    color: #000;
    padding: 12px 5px;
    line-height: 1;
    display: block;
  }
  .nav-xs-om .nav-list-om > li:hover > a {
    color: #000;
  }
}

.lang-close-xs {
  display: none;
}

@media only screen and (max-width: 991px) {
  .lang-close-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .lang-close-xs .lang-xs a {
    color: #999999;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
  }
  .lang-close-xs .close-xs {
    font-size: 24px;
    color: #999999;
  }
}

.drop-om {
  position: relative;
}

.drop-om .drop-list-om {
  list-style: none;
  margin-bottom: 0;
  display: block;
  position: absolute;
  top: 100%;
  background-color: #a4a091;
  z-index: 11;
  min-width: 185px;
  border-radius: 0px;
  margin-top: 0;
  padding: 8px 13px;
  border: none;
  -webkit-transform-origin: center 0;
  -ms-transform-origin: center 0;
  transform-origin: center 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  left: -20px;
}

html[dir=rtl] .drop-om .drop-list-om {
  left: unset;
  right: -20px;
}

.drop-om .drop-list-om li:not(:last-child) {
  border-bottom: 1px solid #b3b0a4;
}

.drop-om .drop-list-om a {
  color: #efece2;
  font-size: 14px;
  padding: 6px 8px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.drop-om .drop-list-om a:hover {
  color: #fff;
}

.drop-om:hover .drop-list-om {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  .collapse-drop-om .cd-head-om {
    position: relative;
  }
  .collapse-drop-om .cd-head-om::after {
    content: "\e874";
    font-family: Linearicons-Free;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #000;
  }
  html[dir=rtl] .collapse-drop-om .cd-head-om::after {
    left: 5px;
    right: unset;
  }
  .collapse-drop-om .cd-head-om.arr-rotate::after {
    content: "\e873";
  }
}

@media only screen and (max-width: 991px) {
  .collapse-drop-om .cd-list-om {
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    position: static;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 8px;
    display: none;
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
  }
}

@media only screen and (max-width: 991px) {
  .collapse-drop-om .cd-list-om li:not(:last-child) {
    border-color: #eaeaea;
  }
}

@media only screen and (max-width: 991px) {
  .collapse-drop-om .cd-list-om a {
    opacity: 1;
    color: #a2a2a2;
    text-align: unset;
    padding: 8px 5px;
    font-size: 13px;
  }
  .collapse-drop-om .cd-list-om a:hover {
    color: #a2a2a2;
  }
}

@media only screen and (max-width: 991px) {
  .collapse-drop-om .cd-list-om::after {
    display: none;
  }
}

.products-om .owl-carousel {
  position: relative;
}

.products-om .owl-carousel .owl-dots {
  display: none;
}

@media only screen and (max-width: 991px) {
  .products-om .owl-carousel .owl-dots {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

.products-om .owl-carousel button.owl-dot {
  width: 7px;
  height: 7px;
  background-color: #9f9b8b;
  border-radius: 50%;
  outline: none;
  margin-right: 3px;
  margin-left: 3px;
}

.products-om .owl-carousel button.owl-dot.active {
  background-color: #000;
}

@media only screen and (max-width: 991px) {
  .products-om .owl-carousel .owl-nav {
    display: none;
  }
}

.products-om .owl-carousel .owl-nav button {
  color: #a4a091;
  font-size: 24px;
  position: absolute;
  top: 212px;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.products-om .owl-carousel .owl-nav button:hover {
  color: #000;
}

.products-om .owl-carousel .owl-nav button.owl-next {
  right: -45px;
}

.products-om .owl-carousel .owl-nav button.owl-prev {
  left: -45px;
}

/*start abaya-sections*/
.abaya-sections {
  padding-bottom: 70px;
}

@media only screen and (max-width: 991px) {
  .abaya-sections {
    padding-bottom: 0;
  }
}

.block-abaya-om {
  margin-bottom: 30px;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .block-abaya-om {
    margin-bottom: 15px;
  }
}

.block-abaya-om .img-block {
  display: block;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 1400px) {
  .block-abaya-om .img-block {
    padding-bottom: 101.5%;
  }
}

.block-abaya-om .img-block img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.block-abaya-om .fig-cap-om {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.block-abaya-om .fig-cap-om .title-om {
  font-size: 36px;
  font-family: 'CooperHewitt-Light';
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
  line-height: 1.2;
  text-transform: uppercase;
}

html[dir=rtl] .block-abaya-om .fig-cap-om .title-om {
  font-family: 'Tajawal-light';
}

.block-abaya-om .fig-cap-om .shop-now-om {
  width: 200px;
  height: 60px;
  margin: auto;
  border: 2px solid #fff;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  margin-top: 40px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
}

.block-abaya-om .fig-cap-om .shop-now-om:hover {
  background-color: #fff;
  color: #000;
}

.block-abaya-om:hover .img-block img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.abaya-om-1 .fig-cap-om {
  bottom: 100px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .abaya-om-1 .fig-cap-om {
    bottom: 40px;
  }
}

.abaya-om-1 .fig-cap-om .title-om {
  font-size: 60px;
  font-family: 'CooperHewitt-Heavy';
}

html[dir=rtl] .abaya-om-1 .fig-cap-om .title-om {
  font-family: 'Tajawal-black';
}

@media only screen and (max-width: 767px) {
  .abaya-om-1 .fig-cap-om .title-om {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .abaya-om-1 .fig-cap-om .shop-now-om {
    font-size: 20px;
    width: 160px;
    height: 48px;
    margin-top: 20px;
  }
}

.abaya-om-2 .img-block {
  padding-bottom: 48%;
}

.abaya-om-2 .fig-cap-om {
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  right: 82px;
  left: unset;
}

@media only screen and (max-width: 767px) {
  .abaya-om-2 .fig-cap-om {
    right: 13%;
  }
}

.abaya-om-2 .fig-cap-om .title-om {
  font-size: 48px;
  font-family: 'CooperHewitt-Heavy';
}

html[dir=rtl] .abaya-om-2 .fig-cap-om .title-om {
  font-family: 'Tajawal-black';
}

@media only screen and (max-width: 767px) {
  .abaya-om-2 .fig-cap-om .title-om {
    font-size: 25px;
  }
}

.abaya-om-2 .fig-cap-om .shop-now-om {
  margin-top: 20px;
  font-size: 20px;
  width: 160px;
  height: 48px;
}

@media only screen and (max-width: 767px) {
  .abaya-om-2 .fig-cap-om .shop-now-om {
    margin-top: 10px;
    font-size: 15px;
    width: 100px;
    height: 40px;
  }
}

.abaya-om-3 .img-block {
  padding-bottom: 48%;
}

.abaya-om-3 .fig-cap-om {
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  left: 70px;
}

@media only screen and (max-width: 767px) {
  .abaya-om-3 .fig-cap-om {
    left: 10%;
  }
}

.abaya-om-3 .fig-cap-om .title-om {
  font-size: 48px;
  font-family: 'CooperHewitt-Book';
  color: #1c1c1b;
}

html[dir=rtl] .abaya-om-3 .fig-cap-om .title-om {
  font-family: 'Tajawal-reg';
}

@media only screen and (max-width: 767px) {
  .abaya-om-3 .fig-cap-om .title-om {
    font-size: 25px;
  }
}

.abaya-om-3 .fig-cap-om .shop-now-om {
  margin-top: 20px;
  font-size: 20px;
  width: 160px;
  height: 48px;
  background-color: #9f9b8b;
  color: #fff;
  border: none;
}

@media only screen and (max-width: 767px) {
  .abaya-om-3 .fig-cap-om .shop-now-om {
    font-size: 15px;
    height: 40px;
    width: 100px;
  }
}

.abaya-om-3 .fig-cap-om .shop-now-om:hover {
  color: #fff;
  background-color: #000;
}

.banner .img-block {
  padding-bottom: 48%;
}

.banner:hover .img-block img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*end abaya-sections*/
/*start products-om*/
.products-om {
  padding-top: 70px;
  padding-bottom: 135px;
}

@media only screen and (max-width: 991px) {
  .products-om {
    padding: 20px 0 50px;
  }
}

.products-om .head-om {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  color: #000;
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  .products-om .head-om {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .product-block-om {
    width: 280px;
    margin: auto;
    text-align: center;
  }
}

.product-block-om .img-block {
  position: relative;
  padding-bottom: 136%;
  display: block;
  overflow: hidden;
}

.product-block-om .img-block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.product-block-om .img-block:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.product-block-om .product-name {
  font-size: 15px;
  color: #7f7f7f;
  display: table;
  text-transform: capitalize;
  margin-top: 26px;
  margin-bottom: 12px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.product-block-om .product-name:hover {
  color: #000;
}

@media only screen and (max-width: 991px) {
  .product-block-om .product-name {
    display: block;
    text-align: center;
  }
}

.product-block-om .price {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}

/*end products-om*/
/*start features-om*/
@media only screen and (max-width: 767px) {
  .features-om {
    background-color: #f7f7f7;
  }
}

.features-om .features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 60px;
  background-color: #f7f7f7;
}

@media only screen and (max-width: 991px) {
  .features-om .features-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0;
  }
}

@media only screen and (max-width: 767px) {
  .features-om .features-container {
    background-color: transparent;
  }
}

.features-om .feature-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media only screen and (max-width: 1400px) {
  .features-om .feature-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 991px) {
  .features-om .feature-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

.features-om .feature-content .img-block {
  font-size: 36.16px;
  color: #9f9b8b;
  margin-right: 28px;
  height: 44px;
}

@media only screen and (max-width: 1400px) {
  .features-om .feature-content .img-block {
    margin: auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .features-om .feature-content .img-block {
    margin: auto;
    margin-bottom: 10px;
  }
}

html[dir=rtl] .features-om .feature-content .img-block {
  margin-right: 0;
  margin-left: 28px;
}

@media only screen and (max-width: 1400px) {
  html[dir=rtl] .features-om .feature-content .img-block {
    margin: auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 991px) {
  html[dir=rtl] .features-om .feature-content .img-block {
    margin: auto;
    margin-bottom: 10px;
  }
}

.features-om .feature-content .feat-dec .head-om {
  font-size: 19.08px;
  color: #1c1c1b;
  font-family: 'CooperHewitt-Heavy';
  padding-bottom: 10px;
  text-transform: capitalize;
}

html[dir=rtl] .features-om .feature-content .feat-dec .head-om {
  font-family: 'Tajawal-black';
}

@media only screen and (max-width: 1400px) {
  .features-om .feature-content .feat-dec .head-om {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .features-om .feature-content .feat-dec .head-om {
    text-align: center;
  }
}

.features-om .feature-content .feat-dec .parg-om {
  color: #7f7f7f;
  font-size: 17.8px;
  text-transform: capitalize;
}

@media only screen and (max-width: 1400px) {
  .features-om .feature-content .feat-dec .parg-om {
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .features-om .feature-content .feat-dec .parg-om {
    text-align: center;
  }
}

/*end features-om*/