/********************* start fonts *************************/
@font-face {
    font-family: 'Tajawal-md';
    src: url('../fonts/Tajawal-Medium.eot');
    src: url('../fonts/Tajawal-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Tajawal-Medium.woff2') format('woff2'), url('../fonts/Tajawal-Medium.woff') format('woff'), url('../fonts/Tajawal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal-light';
    src: url('../fonts/Tajawal-Light.eot');
    src: url('../fonts/Tajawal-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Tajawal-Light.woff2') format('woff2'), url('../fonts/Tajawal-Light.woff') format('woff'), url('../fonts/Tajawal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal-black';
    src: url('../fonts/Tajawal-Black.eot');
    src: url('../fonts/Tajawal-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Tajawal-Black.woff2') format('woff2'), url('../fonts/Tajawal-Black.woff') format('woff'), url('../fonts/Tajawal-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal-exbol';
    src: url('../fonts/Tajawal-ExtraBold.eot');
    src: url('../fonts/Tajawal-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Tajawal-ExtraBold.woff2') format('woff2'), url('../fonts/Tajawal-ExtraBold.woff') format('woff'), url('../fonts/Tajawal-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal-bold';
    src: url('../fonts/Tajawal-Bold.eot');
    src: url('../fonts/Tajawal-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Tajawal-Bold.woff2') format('woff2'), url('../fonts/Tajawal-Bold.woff') format('woff'), url('../fonts/Tajawal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal-exlight';
    src: url('../fonts/Tajawal-ExtraLight.eot');
    src: url('../fonts/Tajawal-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Tajawal-ExtraLight.woff2') format('woff2'), url('../fonts/Tajawal-ExtraLight.woff') format('woff'), url('../fonts/Tajawal-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal-reg';
    src: url('../fonts/Tajawal-Regular.eot');
    src: url('../fonts/Tajawal-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Tajawal-Regular.woff2') format('woff2'), url('../fonts/Tajawal-Regular.woff') format('woff'), url('../fonts/Tajawal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// CooperHewitt 
@font-face {
    font-family: 'CooperHewitt-Bold';
    src: url('../fonts/CooperHewitt-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-BoldItalic';
    src: url('../fonts/CooperHewitt-BoldItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-Book';
    src: url('../fonts/CooperHewitt-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CooperHewitt-BookItalic';
    src: url('../fonts/CooperHewitt-BookItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-Heavy';
    src: url('../fonts/CooperHewitt-Heavy.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-HeavyItalic';
    src: url('../fonts/CooperHewitt-HeavyItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-Light';
    src: url('../fonts/CooperHewitt-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-LightItalic';
    src: url('../fonts/CooperHewitt-LightItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-Medium';
    src: url('../fonts/CooperHewitt-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-MediumItalic';
    src: url('../fonts/CooperHewitt-MediumItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-Semibold';
    src: url('../fonts/CooperHewitt-Semibold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-SemiboldItalic';
    src: url('../fonts/CooperHewitt-SemiboldItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-Thin';
    src: url('../fonts/CooperHewitt-Thin.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-ThinItalic';
    src: url('../fonts/CooperHewitt-ThinItalic.otf');
    font-weight: normal;
    font-style: normal;
}
