body {
  background-color: #fff;
  font-size: 16px;
  color: $mainColor;
  font-family: 'CooperHewitt-Book';
  line-height: 1.5;
//   overflow: hidden;
  @include dir {
    font-family: 'Tajawal-reg';
  }
}

.link-om {
  color: $mainColor;
  text-decoration: none;
}

.link-om:hover {
  color: $secondColor;
  text-decoration: none;
}

.butt-om {
    outline: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.head-om {
    padding: 0;
    margin: 0;
}

.parg-om {
    padding: 0;
    margin: 0;
}

.ul-om {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.overlay-om {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
    background-color: #000;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 0.7;
        visibility: visible;
    }
}