/*********************start default*************************/
@font-face{
	font-family: open-bol;
	src:url('../fonts/OPENSANS-BOLD.TTF');
}

@font-face{
	font-family: open-boli;
	src:url('../fonts/OPENSANS-BOLDITALIC.TTF');
}

@font-face{
	font-family: open-exbol;
	src:url('../fonts/OPENSANS-EXTRABOLD.TTF');
}

@font-face{
	font-family: open-exboli;
	src:url('../fonts/OPENSANS-EXTRABOLDITALIC.TTF');
}

@font-face{
	font-family: open-it;
	src:url('../fonts/OPENSANS-ITALIC.TTF');
}

@font-face{
	font-family: open-li;
	src:url('../fonts/OPENSANS-LIGHT.TTF');
}

@font-face{
	font-family: open-liit;
	src:url('../fonts/OPENSANS-LIGHTITALIC.TTF');
}

@font-face{
	font-family: open-reg;
	src:url('../fonts/OPENSANS-REGULAR.TTF');
}

@font-face{
	font-family: open-semibol;
	src:url('../fonts/OPENSANS-SEMIBOLD.TTF');
}
@font-face{
	font-family: open-semiboli;
	src:url('../fonts/OPENSANS-SEMIBOLDITALIC.TTF');
}

body{
    font-size: 15px;
	font-family: open-reg;
    color: #fff;
    background: #141414;
    background-image: url('../images/header.png');
	background-position: 260px 0;
	background-repeat: no-repeat;
	font-family: open-semibol;
}

.s-ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

a,
a:hover,a:focus{
	text-decoration: none !important;
	outline: none;
}

.title{
	margin-top: 0;
	margin-bottom: 60px;
	text-align: center;
	font-family: open-bol;
	font-size:36px;
}

.s-cont{
	float: right;
	padding-top: 5px;
}

.s-cont li{
	font-size: 15px;
}

.s-cont li:not(:last-child){
	margin-bottom: 7px;
}

.s-cont li i{
	margin-right: 15px;
	font-size: 17.9px;
	color: #ffed00;
}

/*
inspired from http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/*loading*/
.loading-overlay{
	margin: 20px auto;
	  position: fixed;
	  width: 100%;
	  height: 100%;
	  background: #111;
	  top: 0;
	  left: 0;
	  z-index: 10000000;
	  margin: 0;
}

.loading-overlay .load {
  margin: 20px auto;
  width: 230px;
  top: 40%;
  position: relative;
  z-index: 100000000;

  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 4s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.loading-overlay .load img{
	width: 100%;
}

@-webkit-keyframes spinner {
    0 { /*-webkit-transform: rotateY(0deg); */
    	opacity: 1;
    }
    50% {/* -webkit-transform: rotateY(-360deg);*/
    	opacity: 0
    }

    100% {/* -webkit-transform: rotateY(-360deg);*/
    	opacity: 0
    }
}

@keyframes spinner {
    0 { /*-webkit-transform: rotateY(0deg); */
    	opacity: 1;
    }
    50% {/* -webkit-transform: rotateY(-360deg);*/
    	opacity: 0
    }

    100% {/* -webkit-transform: rotateY(-360deg);*/
    	opacity: 1
    }
}
/*mod*/
.s-modal .close{
	float: none;
	position: absolute;
	top: -20px;
	right: -20px;
	opacity: 1;
	z-index: 20;
	outline: none;
}

/**********************end default*************************/

/*start header*/

.header{
	padding-top: 40px;
	padding-bottom: 40px;
}

.header .nav-s{
	margin-top: 16px;
	margin-bottom: 0;
}

.header .nav-c .nav-cs {
	float: none;
	text-align: center;
}

.header .nav-c .nav-cs > li {
	float: none;
	display: inline-block;
}

.header .nav-c .nav-cs > li:not(:last-child){
	padding: 0 15px 0 0;
}

.header .nav-c .nav-cs > li > a{
	background:transparent;
	color: #fff;
	padding: 5px;
	font-size: 15px;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.header .nav-c .nav-cs > li > a:hover{
	color: #ffed00;
}

/*end header*/

/*start slider*/
.slider{
	padding-bottom: 70px;
}
.slider .slide-bl{
	display: table;
	width: 100%;
	height: 414px;
}

.slider .slide-bl > div{
	display: table-cell;
	vertical-align: middle;
}

.slider .slide-cap h1{
	font-size: 60px;
	font-family: open-exbol;
	padding-left: 40px;
	padding-right: 28px;
	line-height: 1.2;
	display: table;
	margin: auto;
}

.slider .slide-img{
	width: 600px;
	max-width: 100%;
	padding-right: 40px;
}

.slider .carousel-inner .active .slide-img img{
	 animation-name: img-slide;
    animation-duration: 2s;
}

@keyframes img-slide {
    0% {
    	-o-transform: scale(1);
    	-moz-transform: scale(1);
    	-webkit-transform: scale(1);
    	transform: scale(1);
    }

    50% {
    	-o-transform: scale(1.1);
    	-webkit-transform: scale(1.1);
    	-moz-transform: scale(1.1);
    	transform: scale(1.1);
    }

    100% {
    	-o-transform: scale(1);
    	-moz-transform: scale(1);
    	-webkit-transform: scale(1);
    	transform: scale(1);
    }
}

.slider .slide-ind{
	position: static;
	width: 100%;
	margin-left: 0;
	margin-top: 10px;
}

.slider .slide-ind > li{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 65px;
	margin-left: 65px;
	position: relative;
}

.slider .slide-ind > li span{
	position: absolute;
	/*z-index: 11111111111;*/
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.slider .slide-ind > li span.slide-act{
	display: none;
}

.slider .slide-ind > li.active span.slide-act{
	display: block;
}

.slider .slide-ind > li.active span.slide-neg{
	display: none;
}

.slider .slide-ind > li:not(:last-child):after{
	content: '';
	width: 109px;
	height: 1px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -0.5px;
	right: -122px;
}

.slider .slide-ind > li:not(:last-child).active:after{
	background-color: #ffed00;
}

.slider .slide-ind > li.active{
	background-color: transparent;
	margin-top: 0;
	margin-bottom: 0;
	border-color: #ffed00;
}

.slider .sc-bot{
	text-align: center;
	margin-top: 50px;
}

.slider .sc-bot a.scroll-down {
	display: inline-block;
	width: 27px;
	height: 52px;
	border-radius: 13.5px;
	border:1px solid #484848;
	text-align: center;
}

.slider .sc-bot a.scroll-down i{
	background-color: #484848;
	height: 8px ;
	width: 1px;
	display: inline-block;
    position: relative;
    animation-name: scr-pos;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes scr-pos {
    0%   {top:0px;}
    50%  {top:20px;}
    100% {top:0px;}
}
/*end slider*/

/*start products*/
.s-products{
	padding: 70px 0;
}

.product-bl{
	border-top: 1px solid #ffed00;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(16,16,16,1);
	-moz-box-shadow: 0px 0px 10px 5px rgba(16,16,16,1);
	box-shadow: 0px 0px 10px 5px rgba(16,16,16,1);
	margin-bottom: 30px;
	position: relative;
}

.product-bl .product-img{
	overflow: hidden;
}

.product-bl .product-img img{
	width: 100%;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.product-bl:hover .product-img img{
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.product-bl .product-info{
	padding: 60px 39px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.product-bl .product-info h3{
	font-size: 20px;
	width: 50%;
	float: left;
	line-height: 1.3;
	margin-top: 0;
	margin-bottom: 0;
}

.product-bl .product-info button{
	min-width: 99px;
	height: 38px;
	background-color: transparent;
	border-radius: 19px;
	border:none;
	color: #ffed00;
	border:1px solid #ffed00;
	outline: none;
	font-size: 14px;
	float: right;
	margin: 7px 0px;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	font-family: open-li;
	font-weight: bold;
}

.product-bl .product-info button:hover{
	color: #141414;
	background-color: #ffed00;
}
/*end products*/

/*start package*/
.package .pack-img .pack-caption{
	display: table;
	width: 495px;
	float: right;
	margin-right: 110px;
	margin-top: 115px;
	text-align: justify;
}

.package .pack-caption h1{
	font-size: 24px;
	font-family: open-bol;
	margin-bottom: 25px;
	margin-top: 0;
	color: #fff;
}

.package .pack-caption p{
	font-size: 15px;
	color: #6e6e6e;
}

.package .pack-left,
.package .pack-right{
	z-index: 20;
	opacity: 1;
	background-color: transparent !important;
	background-image: none !important;
	bottom: initial;
	top: 375px;
	width: auto;
}

.package .pack-right{
	right: 20px;
}

.package .pack-left{
	left: 20px;
}

.s-modal .pc-modal{
	width: 1100px;
	color: #141414
}

.package .pc-slider .pack-ind{
	position: static;
	width: 100%;
	margin: 0;
	padding: 30px;
}

.package .pc-slider .pack-ind li,
.package .pc-slider .pack-ind li.active{
	margin: 0;
	margin: 2px 17.5px; 
	border:none;
}

.package .pc-slider .pack-ind li{
	min-width: 300px;
	height: auto;
	border-radius: 16.5px;
	line-height: 33px;
	font-size: 13px;
	color: #141414;
	background: #f1f1f1;
	text-indent: 0;
	padding: 0 30px;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	/*text-align: left;*/
}

.package .pc-slider .pack-ind li.active{
	color: #ffed00;
	background-color: #141414;
}

.package .pc-slider .pack-img{
	
	background-position: center;
	background-size: cover;
	min-height: 370px;
}

.pack-bl{
	padding: 70px 35px;
}

.pack-info .ck-img{
	margin-bottom: 70px;
}

.pack-info .ck-head{
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 30px;
}

.pack-info .ex-info{
	margin-bottom: 25px;
}

.pack-info .ex-info h6,
.pack-info .ex-info ul{
	font-size: 13px;
}

.pack-info .ex-info h6{
	margin-top: 0;
	margin-bottom: 2px;
	font-family: open-bol;
}

.pack-info .ex-info ul{
}

.pack-info .ex-info ul li{
	padding-left: 10px;
	position: relative;
}

.pack-info .ex-info ul li:before{
	content: '\f111';
	font-family:fontawesome;
	/*margin-right: 3px;*/
	font-size: 5px;
	position: absolute;
	top: 50%;
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}

.pack-contact{
	padding: 0 0 230px 40px;
	border-left: 1px solid #e3e3e3
}

.pack-contact p{
	font-size: 18px;
	padding-right: 60px;
	margin-bottom: 40px;
}

.pack-contact .pack-form{
	display: block;
	width: 100%;
}

.pack-contact .pack-form .pack-in{
	display: block;
	width: 100%;
	height: 60px;
	border-radius: 30px;
	border:1px solid #e3e3e3;
	background-color: #f0f0f0;
	margin-bottom: 8px;
	padding: 0 38px;
	outline: none;
}

.pack-contact .pack-form .pack-sub{
	margin-top: 14px;
	height: 55px;
	min-width: 192px;
	outline: none;
	color: #141414;
	background-color: #ffed00;
	border:none;
	font-family: open-bol;
	font-size: 14px;
	border-radius: 27.5px;
}
/*end package*/

/*start fatures*/
.fatures{
	padding: 70px 0;
}

.fatures .feat-bl{
	height: 285px;
	width: 100%;
	background-color: #171717;
	padding: 10px 40px;
	display: table;
	margin-bottom: 30px;
}

.fatures .feat-bl .feat{
	display: table-cell;
	vertical-align: middle;
}

.fatures .feat-bl .feat h4{
	margin-top: 30px;
	margin-bottom: 18px;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	font-family: open-semibol;
}

.fatures .feat-bl .feat > p{
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
	line-height: 1.6;
	color: #4c4c4c;
}

.fatures .feat-bl .feat button.feat-bt{
	display: table;
	min-width: 129px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	border-radius: 19px;
	font-size: 14px;
	color: #ffed00;
	font-family: open-li;
	background-color: transparent;
	border:none;
	border:1px solid #ffed00;
	outline: none;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	margin: auto;
	margin-top: 12px;
	font-weight: bold;
}

.fatures .feat-bl .feat button.feat-bt:hover{
	color: #141414;
	background-color: #ffed00;
}

.fatures .pack-contact{
	padding: 100px 20px ;
}

.fatures .pack-contact .pack-head{
	font-size: 26px;
	font-family: open-bol;
	text-align: center;
}

.fatures .pack-contact .pack-form{
	width: 600px;
	margin: auto;
	text-align: center;
}

.fatures .pack-contact .pack-form .pack-in{
	text-align: center;
}

.fatures .pack-contact > p{
	padding-left: 60px;
	text-align: center;
}
/*end fatures*/

/*start work*/
.s-work{
	padding: 70px 0;
}

.s-work ul li.work-block{
	display: table;
	width: 772px;
	height: 178px;
	border:1px solid #272727;
	padding: 10px 50px;
	margin-bottom: 25px;
	max-width: 100%;
	position: relative;
}

.s-work ul li.work-block:nth-of-type(odd){
	margin-left: 100px;
}

.s-work ul li.work-block:after{
	content: "";
	width: 210px;
	height: 209px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 82px;
}

.s-work ul li.work-block:nth-of-type(even):after{
	background-image: url('../images/arrow-1.png');
	background-position: right;
	right: -70px;
}

.s-work ul li.work-block:nth-of-type(odd):not(:first-child):after{
	background-image: url('../images/arrow-2.png');
	background-position: left;
	left: -70px;
}

.s-work ul li.work-block .work-num{
	display: block;
	width: 70px;
	height:70px;
	font-size: 24px;
	font-family: open-semibol;
	position: absolute;
	top: 50%;
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align:center;
	line-height: 70px;
	background: #141414;
}

.s-work ul li.work-block:nth-of-type(odd) .work-num{
	left: -35px;
}

.s-work ul li.work-block:nth-of-type(even) .work-num{
	right: -35px;
}

.s-work ul li.work-block:nth-of-type(even){
	float: right;
	margin-right: 100px;
}

.s-work ul li.work-block > div{
	display: table-cell;
	vertical-align: middle;
}

.s-work ul li.work-block:nth-of-type(odd) .work-img{
	padding-right: 38px;
}

.s-work ul li.work-block:nth-of-type(even) .work-img{
	padding-left: 38px;
}

.s-work ul li.work-block .work-info h4{
	font-family: open-semibol;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 19px;
}

.s-work ul li.work-block:nth-of-type(even) .work-info{
	text-align: right;
}

.s-work ul li.work-block .work-info p{
	font-size: 14px;
	margin-bottom: 0;
	color: #4c4c4c;
}
/*end work*/

/*start contact-us*/
.contact-us{
	padding: 70px 0;
	text-align: center;
}

.contact-us p{
	font-size: 14px;
	display: table;
	margin: 0 auto 40px auto;
	width: 372px;
	max-width: 100%;
	line-height: 1.6;
}

.contact-us .contact-form{
	display: block;
	width: 574px;
	margin: auto;
	max-width: 100%;
}
.contact-us .contact-form .contact-in,
.contact-us .contact-form .contact-sub{
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	outline: none;
	text-align: center;
	font-size: 14px;
	height: 60px;
	border-radius: 30px;
}

.contact-us .contact-form .contact-in{
	display: block;
	width: 100%;
	background-color: #171717;
	border:1px solid #272727;
	padding: 0 20px;
	margin-bottom: 8px;	
}

.contact-us .contact-form .contact-in:focus{
	border-color: #ffed00;
}

.contact-us .contact-form .contact-sub{
	background-color: transparent;
	width: 194px;
	margin-top: 13px;
	border:1px solid #ffed00;
	color: #ffed00;
	font-family: open-bol;
}

.contact-us .contact-form .contact-sub:hover{
	background-color: #ffed00;
	color: #141414;
	font-size: 14px;
}

.contact-us .contact-form .contact-in::-webkit-input-placeholder {
  color: #444343;
}

.contact-us .contact-form .contact-in::-moz-placeholder {
  color: #444343;
}

.contact-us .contact-form .contact-in:-ms-input-placeholder {
  color: #444343;
}

.contact-us .contact-form .contact-in:-moz-placeholder {
  color: #444343;
}
/*end contact-us*/

/*start footer*/
footer{
	padding: 60px 0;
	background: #111111;
}

footer .s-cont{
	float: none;
	margin-top: 13px;
}

footer .foot-social,
footer .foot-social > li > a,
footer .copy-1,footer .copy-2{
	color: #444343;
	text-align: center;
}

footer .foot-social{
	padding-bottom: 10px;
}

footer .foot-social li {
	display: inline-block;
	padding-left: 7px;
	padding-right: 7px;
}

footer .foot-social > li > a{
	font-size: 24px;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;	
}

footer .foot-social > li > a:hover{
	color: #ffed00;
}

footer .copy-1{
	font-size: 14.9px;
	margin-bottom: 5px;
}

footer .copy-2{
	font-size: 13px;
	margin-bottom: 0;
}

footer .copy-2 a{
	color: #fff;
}

footer .go-top{
	display: block;
	width: 48px;
	height: 48px;
	color: #444343;
	font-size: 15px;
	text-align: center;
	float: right;
	border:1px solid #444343;
	border-radius: 50%;
	margin-top: 13px;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

footer .go-top:hover{
	color: #ffed00;
	border-color: #ffed00;
}

footer .go-top i{
	line-height: 48px;
}
/*end footer*/

/**********************start responsive**********************/
@media only screen and (max-width: 1199px){
	body {
		background-position: 120px 0;
	}

	.header .nav-c .nav-cs > li > a{
		font-size: 13px;
		padding: 2px;
	}

	.header .nav-c .nav-cs > li:not(:last-child){
		padding: 0 10px 0 0;
	}

	.product-bl .product-info{
		padding: 20px;
	}
	.product-bl .product-info h3{
		width: 56%;
	}

	.s-work ul li.work-block::after{
		width: 55px;
	}

	.s-work ul li.work-block:nth-of-type(2n):after{
		right: -96px;
	}

	.s-work ul li.work-block:nth-of-type(2n+1):not(:first-child):after {
		left: -96px;
	}

	/*mod*/
	.s-modal .pc-modal{
		width: 900px;
	}

	.package .pc-slider .pack-ind li{
		padding: 0 8px;
		min-width: 255px;
	}

	.package .pc-slider .pack-ind li,
	.package .pc-slider .pack-ind li.active{
	 	margin: 7px 10px;
	 }
}

@media  only screen and (max-width: 991px){
	.s-cont{
		float: none;
		text-align: center;
		margin-top: 10px;
	}

	.s-cont li{
		display: inline-block;
		padding: 0 5px;
	}

	.product-bl .product-info {
	    padding: 60px 39px;
	}

	.product-bl .product-info button{
		margin: 0;
	}

	.s-work ul li.work-block:after{
		content: none;
		display: none;
	}

	.s-work ul li.work-block:nth-of-type(odd){
		margin-left: 0;
		width: 100%;
		/*margin-right: 0;
		width: 100%;*/
	}

	.s-work ul li.work-block:nth-of-type(even){
		margin-right: 0;
		width: 100%;
		float: none;
	}

	.slider .slide-ind > li{
		margin-right: 40px;
		margin-left: 40px;
	}

	.slider .slide-ind > li:not(:last-child):after{
		width: 70px;
		right: -78px;
	}

	footer .go-top{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	/*mod*/
	.s-modal .pc-modal{
		width: 95%;
		margin-right: auto;
		margin-left: auto;
	}

	.package .pc-slider .pack-ind li,
	.package .pc-slider .pack-ind li.active{
		min-width: 29%;
		margin-left: 1%;
		margin-right: 1%;
	}

	.pack-contact{
		padding-left: 20px;
	}

	.pack-bl{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media only screen and (max-width: 767px) {
	.header .logo{
		display: table;
		margin: auto;
	}

	.nav-s .nav-m {
		text-align: center;
	}

	.nav-s .nav-c{
		box-shadow: none;
	}

	.nav-s .nav-m .nav-mc{
		border-color: #ffed00;
		margin-right: 0;
		float: none;
	}

	.nav-s .nav-m .nav-mc .icon-bar{
		background-color: #ffed00;
	}

	.slider .slide-img{
		padding-right: 0;
	}

	.slider .slide-cap h1{
		padding-left: 0;
	}

	.slider .slide-cap h1 {
		font-size: 50px;
	}

	.s-work ul li.work-block .work-num{
		top: 14px;
		width: 40px;
		height: 40px;
		line-height: 40px;
		top: -1px;
		-o-transform: translateY(0);
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	.s-work ul li.work-block:nth-of-type(odd) .work-num{
		left: -1px;
	}

	.s-work ul li.work-block:nth-of-type(even) .work-num{
		right: -1px;
	}

	/*mod*/
	.s-modal .close{
		width: 30px;
		height: 30px;
		top: 0;
		right: 0;
		text-align: center;
		line-height: 30px;
		border-radius: 50%;
		background-color: #141414;
	}

	.package .pc-slider .pack-ind li,
	.package .pc-slider .pack-ind li.active{
		min-width: 100%;
		display: block;
	}

	.pack-bl{
		padding-right: 10px; 
		padding-left: 10px;
	}

	.pack-contact {
	    padding: 0;
	    border-left: none;
	}

	.pack-contact p{
		padding-right: 0;
	}

	.package .pack-left, .package .pack-right{
		top: 588px;
	}

	.package .pack-img .pack-caption{
		width: 62%;
		margin-right: 57px;
	}

	.contact-us p{
		width: 100%;
	}

	.fatures .pack-contact .pack-form{
		width: 100%;
	}
	
}

@media only screen and (max-width: 650px){
	.slider .slide-cap h1{
		font-size: 30px;
	}

	.slider .slide-ind > li{
		margin-left: 6px;
		margin-right: 6px;
	}

	.slider .slide-bl{
		height: 350px;
	}
	.slider .slide-ind > li:not(:last-child):after{
		content: none;
		display: none;
	}
}

@media only screen and (max-width: 500px){
	.header .nav-c .nav-cs > li{
		display: block;
		padding: 0;
	}

	.s-work ul li.work-block{
		padding: 10px;
	}

	.package .pack-img .pack-caption{
		text-align: left;
	}
}

@media only screen and (max-width: 450px){
	.slider .slide-cap h1{
		font-size: 25px;
	}

	.slider .slide-ind > li{
		width: 55px;
		height: 55px;
	}

	.product-bl .product-info h3{
		width: 50%;
	}
}
/**********************end responsive*********************