.products-om  {
  .owl-carousel {
    position: relative;
    .owl-dots {
        display: none;
        @include sm {
            display: block;
            text-align: center;
            margin-top: 20px;
        }
    }
    button.owl-dot {
        width: 7px;
        height: 7px;
        background-color: #9f9b8b;
        border-radius: 50%;
        outline: none;
        margin-right: 3px;
        margin-left: 3px;
      &.active {
       background-color: #000;
      }
    }
    
    .owl-nav {
        @include sm {
            display: none;
        }
        button {
            color: #a4a091;
            font-size: 24px;
            position: absolute;
            top: 212px;
            outline: none;
            transition: 0.4s;
            &:hover {
                color: #000;
            }
        }
        button.owl-next {
            right: -45px;
        }
        button.owl-prev {
            left: -45px;
        }
    }
  }
}
